<%% title <%= class_name %>.human_name %>

<%- if action? :new -%>
<p><%%= link_to t('form.new') + " " + <%= class_name %>.human_name , new_<%= singular_name %>_path %></p>
<%- end -%>

<table>

  <tr>
  <%- for attribute in attributes -%>
    <th><%%= <%= class_name %>.human_attribute_name(:<%= attribute.name %>) %></th>
  <%- end -%>
    <th>Actions</th>
  </tr>

  <tr>
    <th colspan="<%= attributes.length + 1 %>">
      <%%= will_paginate @<%= plural_name %> %>
    </th>
  </tr>

  <%% if @<%= plural_name %>.present? %>

  <%% for <%= singular_name %> in @<%= plural_name %> %>

    <tr>
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>
      <td>
    <%- if action? :show -%>
        <%%= link_to t('form.show'), <%= singular_name %> %>
    <%- end -%>
    <%- if action? :edit -%>
        <%%= link_to t('form.edit'), edit_<%= singular_name %>_path(<%= singular_name %>) %>
    <%- end -%>
    <%- if action? :destroy -%>
        <%%= link_to t('form.destroy'), <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %>
    <%- end -%>
      </td>
    </tr>

  <%% end %>

  <%% else %>

    <tr>
      <td colspan="<%= attributes.length + 1 %>">
        <%%= t('form.edit', :model => <%= class_name %>.human_name) %>
      </td>
    </tr>

  <%% end %>

</table>
